@import '../sass/Variables.scss';
@import '../sass/Mixins.scss';

.contact-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .contact-link {
        display: block;
        .anchor {
            display: flex;
            flex-direction: column;
            font-size: 8px;
            justify-content: space-between;
            @include tablet {
                font-size: $fs-10;
                flex-direction: row;
            }
        }
    }
    .contact-icon {
        color: $color-Accent;
        margin: 0 auto;
    }
}