@import '../sass/Variables.scss';
@import '../sass/Mixins.scss';

.contact-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .contact-link {
        display: block;
        .anchor {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // @include for-phone-only {
            //     width: $width-portrait;
            //     max-width: $max-phone-width;
            // }
            // @include for-tablet-portrait-up {
            //     width: $width-portrait;
            //     max-width: $max-tablet-portrait-width;
            // }
            // @include for-tablet-landscape-up {
            //     width: $width-landscape;
            //     max-width: max-tablet-landscape-width;
            // }
            // @include for-desktop-up {
            //     width: $width-landscape;
            //     max-width: $max-desktop-width;
            // }
            // @include for-big-desktop-up {
            //     width: $width-landscape;
            //     max-width: $max-big-desktop-width;
            // }
            .anchor-icon {
                color: $color-Primary;
                margin: 0 auto;
            }
            .anchor-text {
                display: none;
                // @include tablet {
                //     display: flex;
                //     margin-left: 0.5em;
                // }
            }
        }
    }
}