@import '../../components/sass/Variables.scss';
@import '../../components/sass/Mixins.scss';

.about-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .about {
        width: 95%;
        height: 100%;
        margin: 3em auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.925));
        overflow: scroll;
        @include tablet {
            max-width: 600px;
        }
        .header {
            margin-top: 1em;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            .header-title {
                color: $color-White;
                font-size: $fs-200;
            }
            .header-subtitle {
                margin-top: 1em;
                color: $color-Accent;
                text-align: end;
                font-size: $fs-160;
                .subtitle-location {
                    color: $color-White;
                }
            }
        }
    
        .text {
            width: 85%;
            line-height: 1.5;
            margin-top: 2em;
            .text-p {
                font-family: $ff-Primary;
            }
        }

        .stack {
            margin: 2em auto;
            height: 100%;
        }
    }

}