@import '../../components/sass/Variables.scss';
@import '../../components/sass/Mixins.scss';

.about {
    height: 100%;
    width: 90%;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.925));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    .header {
        margin: 2rem 0;
    }
    .text {
        width: 100%;
        line-height: 2;
        margin: 0 auto;
        font-size: 1rem;
    }
}