@import '../sass/Variables.scss';
@import '../sass/Mixins.scss';

.btn {
        background-color: $color-Accent;
        font-family: $ff-Secondary;
        font-weight: $fw-Bold;
        color: $color-White;
        border: none;
        border-radius: $border-Radius;
        padding: $button-Padding;
        box-shadow: $box-shadow-2;
        width: 75%;
        margin: 2em auto;
        display: inline-block;
        transition: transform 0.5s;
        
        @include tablet {
                max-width: 50%;
        }
        i {
                margin-right: 10px;
        }
}
.btn:hover {
        background-color: $color-Accent;
        color: $color-Neutral-900;
        transform: scale(1.1);
}
.btn-menu {
        background-color: $color-Accent;
        font-family: $ff-Secondary;
        font-weight: $fw-Bold;
        color: $color-White;
        border: none;
        border-radius: $border-Radius;
        padding: $button-Padding;
        box-shadow: $box-shadow-2;
        width: 10%;
        margin: 0 auto;
        display: inline-block;
        transition: transform 0.5s;
        
        @include tablet {
                max-width: 50%;
        }
        i {
                margin-right: 10px;
        }
}