@import '../sass/Variables.scss';
@import '../sass/Mixins.scss';

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    border-radius: $border-Radius;
    box-shadow: $box-shadow-1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    font-size: 1em;

    .project-title {
        color: $color-Accent;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.75));
        margin: 2rem auto;
        font-size: $fs-16;
    }
    .project-info{
        display: flex;
        flex-direction: column;
        border-radius: $border-Radius;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
        .project-imgbtns {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .project-picture {
                display: block;
                min-width: 60%;
                width: 100%;
                margin: 0 auto;
                height: auto;
                @include tablet {
                    width: 90%;
                    max-width: 600px;
                }
                @include laptop {
                    width: 85%;
                    max-width: 900px;
                }
                @include desktop {
                    width: 75%;
                    max-width: 1200px;
                }
                @include uhd {
                    width: 66%;
                    max-width: 2400px;
                }
            }
            
            .project-links {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 3rem 0;
                .link {
                    background-color: $color-White;
                    font-family: $ff-Primary;
                    font-weight: $fw-Bold;
                    font-size: $fs-10;
                    color: $color-Neutral-900;
                    border: none;
                    border-radius: $border-Radius;
                    padding: 1rem 3rem;
                    box-shadow: $box-shadow-1;
                    margin: 0 auto;
                    margin-top: 2rem;
                    text-align: center;
                    transition: transform 0.35s;
                    display: flex;
                    @include tablet {
                        width: 150px;

                    }
                }
                .link:hover {
                    background-color: $color-Accent;
                    transform: scale(1.05);
                }
                .link-text {
                    display: none;
                    color: $color-Neutral-900;
                    text-transform: capitalize;
                    margin: 0 auto;
                    @include tablet {
                        display: block;
                    }
                }
            }
        }
        .project-description {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}