.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 2px 1px 2px rgba(0, 0, 0, 0.1), 6px 6px 5px 2px rgba(0, 0, 0, 0.15), 7px 10px 8px 2px rgba(0, 0, 0, 0.16), 8px 15px 13px 2px rgba(0, 0, 0, 0.17), 9px 30px 25px 2px rgba(0, 0, 0, 0.18), 10px 50px 40px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 5px 2px 1px 2px rgba(0, 0, 0, 0.1), 6px 6px 5px 2px rgba(0, 0, 0, 0.15), 7px 10px 8px 2px rgba(0, 0, 0, 0.16), 8px 15px 13px 2px rgba(0, 0, 0, 0.17), 9px 30px 25px 2px rgba(0, 0, 0, 0.18), 10px 50px 40px 2px rgba(0, 0, 0, 0.22);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
}

.project-card .project-title {
  color: #ff2b00;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.75));
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.75));
  margin: 2rem auto;
  font-size: 1.6em;
}

.project-card .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.project-card .project-info .project-imgbtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-card .project-info .project-imgbtns .project-picture {
  display: block;
  min-width: 60%;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .project-card .project-info .project-imgbtns .project-picture {
    width: 90%;
    max-width: 600px;
  }
}

@media only screen and (min-width: 769px) {
  .project-card .project-info .project-imgbtns .project-picture {
    width: 85%;
    max-width: 900px;
  }
}

@media only screen and (min-width: 1200px) {
  .project-card .project-info .project-imgbtns .project-picture {
    width: 75%;
    max-width: 1200px;
  }
}

@media only screen and (min-width: 2000px) {
  .project-card .project-info .project-imgbtns .project-picture {
    width: 66%;
    max-width: 2400px;
  }
}

.project-card .project-info .project-imgbtns .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem 0;
}

.project-card .project-info .project-imgbtns .project-links .link {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #0d0d0d;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  -webkit-box-shadow: 5px 2px 1px 2px rgba(0, 0, 0, 0.1), 6px 6px 5px 2px rgba(0, 0, 0, 0.15), 7px 10px 8px 2px rgba(0, 0, 0, 0.16), 8px 15px 13px 2px rgba(0, 0, 0, 0.17), 9px 30px 25px 2px rgba(0, 0, 0, 0.18), 10px 50px 40px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 5px 2px 1px 2px rgba(0, 0, 0, 0.1), 6px 6px 5px 2px rgba(0, 0, 0, 0.15), 7px 10px 8px 2px rgba(0, 0, 0, 0.16), 8px 15px 13px 2px rgba(0, 0, 0, 0.17), 9px 30px 25px 2px rgba(0, 0, 0, 0.18), 10px 50px 40px 2px rgba(0, 0, 0, 0.22);
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 600px) {
  .project-card .project-info .project-imgbtns .project-links .link {
    width: 150px;
  }
}

.project-card .project-info .project-imgbtns .project-links .link:hover {
  background-color: #ff2b00;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project-card .project-info .project-imgbtns .project-links .link-text {
  display: none;
  color: #0d0d0d;
  text-transform: capitalize;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .project-card .project-info .project-imgbtns .project-links .link-text {
    display: block;
  }
}

.project-card .project-info .project-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=ProjectCard.css.map */