@import '../sass/Variables.scss';
@import '../sass/Mixins.scss';

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: $border-Radius;
    box-shadow: $box-shadow-1;
    overflow-y: scroll;
    h2 {
        color: $color-Accent;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.85));
        text-align: center;
    }
    .project-info{
        display: flex;
        flex-direction: column;
        border-radius: $border-Radius;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
        @include tablet {
            width: 420px;
            flex-direction: column;
        }
        @include laptop {
            width: 330px;
            flex-direction: row;
        }
        @include desktop {
            width: 540px;
            flex-direction: column;
        }
        .project-imgbtns {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 300px;
            img {
                width: 100%;
                margin: 0 auto;
                @include tablet {
                    width: 420px;
                }
                @include laptop {
                    width: 330px;
                }
                @include desktop {
                    width: 540px;
                }
            }
            figcaption {
                font-size: $fs-80;
                font-family: $ff-Secondary;
            }
            .project-links {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-around;
                
                @include tablet {
                    flex-direction: row;
                    :first-child {
                        margin-right: 1em;
                    }
                }
                @include laptop {
                    flex-direction: column;
                }
                @include desktop {
                    flex-direction: row;
                }
            }
        }
        .project-description {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            height: 400px;
            
        }
    }
}