.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 5px 2px 1px 2px rgba(0, 0, 0, 0.1), 6px 6px 5px 2px rgba(0, 0, 0, 0.15), 7px 10px 8px 2px rgba(0, 0, 0, 0.16), 8px 15px 13px 2px rgba(0, 0, 0, 0.17), 9px 30px 25px 2px rgba(0, 0, 0, 0.18), 10px 50px 40px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 5px 2px 1px 2px rgba(0, 0, 0, 0.1), 6px 6px 5px 2px rgba(0, 0, 0, 0.15), 7px 10px 8px 2px rgba(0, 0, 0, 0.16), 8px 15px 13px 2px rgba(0, 0, 0, 0.17), 9px 30px 25px 2px rgba(0, 0, 0, 0.18), 10px 50px 40px 2px rgba(0, 0, 0, 0.22);
  overflow-y: scroll;
}

.project-card h2 {
  color: #ff2b00;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.85));
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.85));
  text-align: center;
}

.project-card .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

@media only screen and (min-width: 600px) {
  .project-card .project-info {
    width: 420px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .project-card .project-info {
    width: 330px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1280px) {
  .project-card .project-info {
    width: 540px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project-card .project-info .project-imgbtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
}

.project-card .project-info .project-imgbtns img {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .project-card .project-info .project-imgbtns img {
    width: 420px;
  }
}

@media only screen and (min-width: 768px) {
  .project-card .project-info .project-imgbtns img {
    width: 330px;
  }
}

@media only screen and (min-width: 1280px) {
  .project-card .project-info .project-imgbtns img {
    width: 540px;
  }
}

.project-card .project-info .project-imgbtns figcaption {
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
}

.project-card .project-info .project-imgbtns .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 600px) {
  .project-card .project-info .project-imgbtns .project-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project-card .project-info .project-imgbtns .project-links :first-child {
    margin-right: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .project-card .project-info .project-imgbtns .project-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1280px) {
  .project-card .project-info .project-imgbtns .project-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.project-card .project-info .project-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  height: 400px;
}
/*# sourceMappingURL=ProjectCard.css.map */