@import '../sass/Variables.scss';

.skills-wrapper {
    width: 100%;
    margin: 1em auto;
    text-align: center;
    justify-content: space-around;
    .my-skills{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}