@import '../sass/Variables.scss';
@import '../sass/Mixins.scss';


.skills-wrapper {

    width: 100%;
    margin: 1rem auto;
    text-align: center;
    justify-content: space-around;

    .my-skills{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 1rem auto;
    }
}