@import '../../components/sass/Variables.scss';
@import '../../components/sass/Mixins.scss';

.contact-wrapper  {

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .contact {
        width: 90%;
        height: 95%;
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.925));
        @include tablet {
            max-width: 600px;
        }
    }
}