@import '../../components/sass/Variables.scss';
@import '../../components/sass/Mixins.scss';

.home-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .home {
        width: 95%;
        height: 100%;
        margin: 3em auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.925));
        @include tablet {
            max-width: 600px;
        }
        .header {
            line-height: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .header-title {
                color: $color-White;
                font-size: $fs-200;
            }
            .header-subtitle {
                color: $color-Accent;
                text-align: end;
                font-size: $fs-160;
            }
        }
        .text {
            width: 85%;
            line-height: 1.5;
            margin: 0 auto;
        }
    }
}