@import '../../components/sass/Variables.scss';
@import '../../components/sass/Mixins.scss';

.home {
    height: 100%;
    width: 100%;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.925));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    font-size: $fs-10;
    @include for-phone-only {
        width: $width-portrait;
        max-width: $max-phone-width;
    }
    @include for-tablet-portrait-up {
        width: $width-portrait;
        max-width: $max-tablet-portrait-width;
    }
    @include for-tablet-landscape-up {
        width: $width-landscape;
        max-width: max-tablet-landscape-width;
    }
    @include for-desktop-up {
        width: $width-landscape;
        max-width: $max-desktop-width;
    }
    @include for-big-desktop-up {
        width: $width-landscape;
        max-width: $max-big-desktop-width;
    }
    .header {
        margin: 2rem 0;
    }
    .text {
        width: 100%;
        line-height: 2;
        margin: 0 auto;
    }
}