@import '../sass/Variables.scss';

#Logotipo-nav {
        width: 12rem;
        margin: auto 0;
        filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
        -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
        #C {
                fill: $color-Neutral-100;
        }
        #A {
                fill: $color-Accent;
        }
        #V {
                fill: $color-Accent;
        }
        #D {
                fill: $color-Neutral-100;
        }
}

#Logotipo-nav:hover {
        height: 5rem;
        margin: 0.2rem 0;
        scale: 1.05;
        filter: drop-shadow( 3px 3px 2px rgba(255, 255, 255, 0.3));
        -webkit-filter: drop-shadow( 3px 3px 2px rgba(255, 255, 255, 0.3));
        #C {
                fill: $color-Neutral-900;
        }
        #A {
                fill: $color-Accent-500;
                
        }
        #V {
                fill: $color-Accent-500;
                
        }
        #D {
                fill: $color-Neutral-900;
                
        }
}
