@import '../sass/Variables.scss';

.header-title {
    color: $color-White;
    margin: 2rem 0;
    .header-subtitle{
        color: $color-Accent;
        .span {
            color: $color-White;
            margin: 2rem 0;
        }
    }
}