@import '../sass/Variables.scss';

.btn-wrapper {
    display: flex;
    justify-content: space-around;
    .btn-cta {
        background-color: $color-Accent;
        color: $color-White;
        font-weight: $fw-Bold;
        border: none;
        border-radius: $border-Radius;
        padding: 1.5rem 4.5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        box-shadow: $box-shadow-1;
    }
    .btn-cta:hover {
        background-color: $color-Accent;
        color: $color-Neutral-900;
        transform: scale(1.1);
    }
}