@import '../../components/sass/Variables.scss';
@import '../../components/sass/Mixins.scss';


.contact-form {
    box-shadow: $box_shadow_1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    margin-bottom: 7rem;
    border-radius: $border-Radius;

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem auto;
        @include tablet {
            flex-direction: row;
            justify-content: space-evenly;
        }
        .input-group {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            margin: 0 auto;
            .form-control {
                background-color: $gradient;
            }
        }
    }
    .text-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.contact-links-container {
    display: none;
    @include tablet {
        background-color: hsla(0, 0%, 0%, 0.5);
        border-radius: $border-Radius;
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }
    .contact-links-title {
        margin: 1rem;
    }
    .contact-links-subtitle {
        margin: 1rem;
    }
}
label {
    color: $color-Accent;
    font-size: $fs-12;
    width: 90%;
    text-align: center;
    margin: 1rem;
    @include tablet {
        text-align: start;
    }
}
input {
    width: 90%;
    margin: 1rem auto;
}
input[type=text] {
    height: 2rem;
    outline: $form-outline;
    background-color: hsla(0, 0, 0, 0.25);
    color: $color-Neutral-100;
    border: 2px solid $invisible;
}
input[type=text]:focus {
    height: 2rem;
    outline: $form-outline;
    background-color: hsla(0, 0, 0, 0.25);
    color: $color-Neutral-200;
    border: 2px solid $color-Accent-900;
}
input[type=email] {
    height: 2rem;
    outline: $form-outline;
    background-color: hsla(0, 0, 0, 0.25);
    color: $color-Neutral-100;
    border: 2px solid $invisible;
}
input[type=email]:focus {
    height: 2rem;
    outline: $form-outline;
    background-color: hsla(0, 0, 0, 0.25);
    color: $color-Neutral-200;
    border: 2px solid $color-Accent-900;
}

textarea {
    outline: $form-outline;
    width: 90%;
    height: 150px;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid $invisible;
    background-color: hsla(0, 0, 0, 0.25);
    resize: none;
    margin: 0 auto;
    color: $color-White;
}
textarea:focus {
    outline: $form-outline;
    width: 90%;
    height: 150px;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid $color-Accent-900;
    background-color: hsla(0, 0, 0, 0.25);
    resize: none;
    margin: 0 auto;
    color: $color-White;
}