@import '../../components/sass/Variables.scss';

.contact-form {
    box-shadow: $box_shadow_1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: $border-Radius;
    margin-bottom: 5rem;

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 0;
        .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .form-control {
                background-color: $gradient;
            }
        }
    }
}

label {
    color: $color-Accent;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: $fs-16;
}
input {
    width: 90%;
    margin: 0 auto;
}
input[type=text] {
    height: 2rem;
    outline: $form-outline;
    background-color: hsla(0, 0, 0, 0.25);
    color: $color-Neutral-100;
    border: 2px solid $invisible;
}
input[type=text]:focus {
    height: 2rem;
    outline: $form-outline;
    background-color: hsla(0, 0, 0, 0.25);
    color: $color-Neutral-200;
    border: 2px solid $color-Accent-900;
}
input[type=email] {
    height: 2rem;
    outline: $form-outline;
    background-color: hsla(0, 0, 0, 0.25);
    color: $color-Neutral-100;
    border: 2px solid $invisible;
}
input[type=email]:focus {
    height: 2rem;
    outline: $form-outline;
    background-color: hsla(0, 0, 0, 0.25);
    color: $color-Neutral-200;
    border: 2px solid $color-Accent-900;
}

textarea {
    outline: $form-outline;
    width: 90%;
    height: 150px;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid $invisible;
    background-color: hsla(0, 0, 0, 0.25);
    resize: none;
    margin: 0 auto;
    color: $color-White;
}
textarea:focus {
    outline: $form-outline;
    width: 90%;
    height: 150px;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid $color-Accent-900;
    background-color: hsla(0, 0, 0, 0.25);
    resize: none;
    margin: 0 auto;
    color: $color-White;
}