.nav-container {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.55);
}

.nav-container .nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 599px) {
  .nav-container .nav-bar {
    width: 86%;
    max-width: 86%;
  }
}

@media (min-width: 600px) {
  .nav-container .nav-bar {
    width: 86%;
    max-width: 86%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 900px) {
  .nav-container .nav-bar {
    width: 62%;
    max-width: max-tablet-landscape-width;
  }
}

@media (min-width: 1300px) {
  .nav-container .nav-bar {
    width: 62%;
    max-width: 62%;
  }
}

@media (min-width: 2000px) {
  .nav-container .nav-bar {
    width: 62%;
    max-width: 62%;
  }
}

.nav-container .nav-bar .nav-logo {
  padding: 1rem 0;
  text-align: center;
}

.nav-container .nav-bar .nav-logo .nav-logo-pt1 {
  font-size: 2em;
  color: white;
}

@media (max-width: 599px) {
  .nav-container .nav-bar .nav-logo .nav-logo-pt1 {
    font-size: 2.4em;
  }
}

@media (min-width: 600px) {
  .nav-container .nav-bar .nav-logo .nav-logo-pt1 {
    font-size: 2em;
  }
}

@media (min-width: 900px) {
  .nav-container .nav-bar .nav-logo .nav-logo-pt1 {
    margin: 0;
  }
}

.nav-container .nav-bar .nav-logo .nav-logo-pt1 .nav-logo-pt2 {
  color: #ff2b00;
}

.nav-container .nav-bar .nav-links {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: display 300ms, -webkit-transform 300ms;
  transition: display 300ms, -webkit-transform 300ms;
  transition: display 300ms, transform 300ms;
  transition: display 300ms, transform 300ms, -webkit-transform 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 auto;
  font-size: 1.2em;
}

@media (max-width: 599px) {
  .nav-container .nav-bar .nav-links {
    width: 86%;
    max-width: 86%;
  }
}

@media (min-width: 600px) {
  .nav-container .nav-bar .nav-links {
    width: 86%;
    max-width: 86%;
    margin-left: auto;
    margin-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .nav-container .nav-bar .nav-links {
    width: 62%;
    max-width: max-tablet-landscape-width;
  }
}

@media (min-width: 1300px) {
  .nav-container .nav-bar .nav-links {
    width: 62%;
    max-width: 62%;
  }
}

@media (min-width: 2000px) {
  .nav-container .nav-bar .nav-links {
    width: 62%;
    max-width: 62%;
  }
}

.nav-container .nav-bar .nav-links .nav-link {
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1;
  padding: 0.5em 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 100%;
  margin: auto 0;
  text-align: center;
  vertical-align: bottom;
}

.nav-container .nav-bar .nav-links .nav-link:link {
  color: white;
  line-height: 1;
  text-decoration: none;
  text-align: center;
}

.nav-container .nav-bar .nav-links .nav-link:hover,
.nav-container .nav-bar .nav-links .nav-link:focus {
  box-shadow: 5px 2px 1px 2px rgba(0, 0, 0, 0.1), 6px 6px 5px 2px rgba(0, 0, 0, 0.15), 7px 10px 8px 2px rgba(0, 0, 0, 0.16), 8px 15px 13px 2px rgba(0, 0, 0, 0.17), 9px 30px 25px 2px rgba(0, 0, 0, 0.18), 10px 50px 40px 2px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 5px 2px 1px 2px rgba(0, 0, 0, 0.1), 6px 6px 5px 2px rgba(0, 0, 0, 0.15), 7px 10px 8px 2px rgba(0, 0, 0, 0.16), 8px 15px 13px 2px rgba(0, 0, 0, 0.17), 9px 30px 25px 2px rgba(0, 0, 0, 0.18), 10px 50px 40px 2px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 5px 2px 1px 2px rgba(0, 0, 0, 0.1), 6px 6px 5px 2px rgba(0, 0, 0, 0.15), 7px 10px 8px 2px rgba(0, 0, 0, 0.16), 8px 15px 13px 2px rgba(0, 0, 0, 0.17), 9px 30px 25px 2px rgba(0, 0, 0, 0.18), 10px 50px 40px 2px rgba(0, 0, 0, 0.22);
  color: #ff2b00;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav-container .nav-bar .nav-links .nav-link:active {
  color: #ff2b00;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav-container .nav-bar .nav-links .current {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
  color: #ff2b00;
}
/*# sourceMappingURL=NavBar.css.map */