@import '../../components/sass/Variables.scss';
@import '../../components/sass/Mixins.scss';

.projects-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .projects {
        width: 95%;
        max-width: 550px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.925));
        overflow: scroll;
        @include tablet {
            max-width: 600px;
        }
        .projects-container {
            display: flex;
            flex-direction: column;
            box-shadow: $box-shadow-1;
            overflow: scroll;
        }
    }
}