@import '../sass/Variables.scss';
@import '../sass/Mixins.scss';

.skill-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem auto;
    align-self: center;
    justify-self: center;
    transition: transform 0.5s;
    @include for-phone-only {
        width: 90px;
    }
    @include for-tablet-portrait-up {
        width: 120px;
    }
    @include for-tablet-landscape-up {}
    @include for-desktop-up {
        width: 200px;
    }
    @include for-big-desktop-up {}
    .skill-icon {
        color: $color-Primary;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 1em;
        width: 30px;
    }
    
    .skill-text {
        font-size: $fs-11;
    }
}
.skill-wrapper:hover {
    transform: scale(1.1);
}