@import '../sass/Variables.scss';
@import '../sass/Mixins.scss';


.used-tools {
    width: 100%;
    margin: 0.5em auto;
    text-align: center;
    justify-content: space-around;
    @include tablet {
        max-width: 550px;
    }
    .used-tools-title{
        margin: 0.5em auto;
    }
    .used-tools-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}