@import '../sass/Variables.scss';

.used-tools {
    width: 100%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    .used-tools-title{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .used-tools-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}