html {
  height: 100vh;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: white;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("./images/minified/images/background.jpg");
  background-image: url("./images/webp/images/background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  font-size: 1.6em;
}

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 1;
  color: white;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
  color: #ff2b00;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

#root {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

.bg-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  cursor: pointer;
  mix-blend-mode: multiply;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 2;
}

.page-wrapper {
  margin: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .page-wrapper {
    font-size: 1em;
  }
}

@media (min-width: 600px) {
  .page-wrapper {
    font-size: 1em;
  }
}

@media (min-width: 900px) {
  .page-wrapper {
    font-size: 1em;
  }
}

@media (min-width: 1300px) {
  .page-wrapper {
    font-size: 1.2em;
  }
}

@media (min-width: 2000px) {
  .page-wrapper {
    font-size: 2em;
  }
}

.page-wrapper-contact {
  margin: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-padding-before: clamp(3rem, 5rem, 8rem);
          padding-block-start: clamp(3rem, 5rem, 8rem);
  -webkit-padding-after: clamp(5rem, 8rem, 12rem);
          padding-block-end: clamp(5rem, 8rem, 12rem);
}

@media (max-width: 599px) {
  .page-wrapper-contact {
    font-size: 1em;
  }
}

@media (min-width: 600px) {
  .page-wrapper-contact {
    font-size: 1.2em;
  }
}

@media (min-width: 900px) {
  .page-wrapper-contact {
    font-size: 1.6em;
  }
}

@media (min-width: 1300px) {
  .page-wrapper-contact {
    font-size: 2em;
  }
}

@media (min-width: 2000px) {
  .page-wrapper-contact {
    font-size: 3.6em;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: auto;
}

::-webkit-scrollbar-thumb {
  background: #991a00;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff2b00;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.85);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 0.5em;
}

::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.15);
}

::-webkit-scrollbar-track:active {
  background: #991a00;
}

::-webkit-scrollbar-corner {
  background: white;
}
/*# sourceMappingURL=App.css.map */