@import './components/sass/Variables.scss';
@import './components/sass/Mixins.scss';

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  color: $color-White;
  overflow-x: hidden;
  height: 100vh;
  font-size: $fs-100;
  @include tablet {
    font-size: $fs-110;
  }
  @include laptop {
    font-size: $fs-100;
  }
  @include desktop {
    font-size: $fs-130;
  }
  @include uhd {
    font-size: $fs-140;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $ff-Display;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: $fs-180;
}
h2 {
  font-size: $fs-160;
}
h3 {
  font-size: $fs-140;
}
h4 {
  font-size: $fs-120;
}
#root {
  height: 100%;
  width: 100%;
}
.app-wrapper {
  height: 100%;
  width: 100%;
  background-image: url(./components/Images/background.jpg);
  background-image: image-set(
    "./components/Images/background.jpg" type("image/jpg"),
    "./components/Images/background.webp" type("image/webp"),
    "./components/Images/background.avif" type("image/avif"),
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


