@import '../sass/Variables.scss';

.description {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .description-title {
        width: 100%;
        color: $color-Accent;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.85));
        margin: 1em auto;
    }
    .description-text {
        width: 100%;
        text-align: center;
        color: $color-White;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.85));
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
            margin: 1em auto;
        }
    }
}